.navbar-container{
    backdrop-filter: blur(12px);
    height:3.75rem;
    background-color: #f8f8ff9a;
    position:fixed;
    width:100%;
    z-index: 1000;
    top:0;
    
}
.logo {
    height: 3.25rem;
    background-color: transparent;
}
.navbar-shadow {
    --tw-shadow: 0 1px 2px 0 rgb(0 0 0 / 0.05);
    --tw-shadow-colored: 0 1px 2px 0 var(--tw-shadow-color);
    box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
}
.logo-name {
    font-size: 2rem;
    line-height: 1.3;
    color: #0d0b4e;
    font-family: "EB Garamond" !important;
    letter-spacing: 1.1px;
}
nav a{
    inset:0;
    font-size:1.1rem;
    font-weight:600;
    color: #0d0b4e;
    margin: 0.5rem;
}
nav a:hover{
    color: #101828;
    font-size: 1.3rem;
    transition: all 0.5s ease;
}
.mobile-nav {
    display: none;
}
.navbar-menu{
    display:flex;
}

@media (max-width:768px){
    .mobile-nav {
        display: inline;
    }
    .navbar-menu {
        flex-direction: column;
        position:absolute;
        background:#eeeeff;
        border-radius: 1rem;
        right:1rem;
        top:4.75rem;
        flex:0;
        justify-content: flex-start;
        align-items: center;
        text-align: left;
        
    }
    .desktop-menu {
        display: none;
    }
    
}